<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CINEFLEX</title>
    <link rel="stylesheet" href="Css Files/style.css" />
    <link rel="shortcut icon" href="fav-icon.png" type="image/x-icon" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    {{>headerhome}}

    <section class="home container" id="home">
      <img src="Images/home-background.png" alt="" class="home-img" />
      <div class="home-text">
        <h1 class="home-title">Hitman's Wife <br />Bodyguard</h1>
        <p>Releasing April 10th</p>
        <a href="#" class="watch-button">
          <i class="bx bxs-right-arrow"></i>
          <span>Watch the Trailer</span>
        </a>
      </div>
    </section>
    <section class="latest container" id="latest">
      <div class="heading">
        <h2 class="heading-title">In Theatres</h2>
      </div>
      <div class="movie-list-wrapper">
        <div class="movie-list">
          <div class="movie-list-item">
            <img class="movie-list-item-img" src="Images/play-background.jpg" alt="" />
            <span class="movie-list-item-title">Jumanji</span>
            <p class="movie-list-item-desc ">
              A magical board game unleashes a world of adventure on siblings Peter (Bradley Pierce) and Judy Shepherd (Kirsten Dunst). While exploring an old mansion, the youngsters find a curious, jungle-themed game called Jumanji in the attic. When they start playing, they free Alan Parrish (Robin Williams), who's been stuck in the game's inner world for decades. If they win Jumanji, the kids can free Alan for good -- but that means braving giant bugs, ill-mannered monkeys and even stampeding rhinos!


            </p>
            <a href="playpage?ref=Jumanji">
              <button class="movie-list-item-button">Watch</button>
            </a>
          </div>
          <div class="movie-list-item">
            <img class="movie-list-item-img" src="Images/2.jpeg" alt="" />
            <span class="movie-list-item-title">Star Wars</span>
            <p class="movie-list-item-desc">
              The Imperial Forces -- under orders from cruel Darth Vader (David Prowse) -- hold Princess Leia (Carrie Fisher) hostage, in their efforts to quell the rebellion against the Galactic Empire. Luke Skywalker (Mark Hamill) and Han Solo (Harrison Ford), captain of the Millennium Falcon, work together with the companionable droid duo R2-D2 (Kenny Baker) and C-3PO (Anthony Daniels) to rescue the beautiful princess, help the Rebel Alliance, and restore freedom and justice to the Galaxy.
            </p>
            <a href="playpage?ref=StarWars">
            <button class="movie-list-item-button">Watch</button>
            </a>
          </div>
          <div class="movie-list-item">
            <img class="movie-list-item-img" src="Images/3.jpg" alt="" />
            <span class="movie-list-item-title">Storm</span>
            <p class="movie-list-item-desc">
              As an experienced climber ascends Mount Washington, she turns back before she reaches the summit as a huge blizzard approaches. However, on her way down, she encounters a stranded man and takes it upon herself to get them both down the mountain before nightfall arrives and they succumb to the elements.
            </p>
            <a href="playpage?ref=Storm">
            <button class="movie-list-item-button">Watch</button>
            </a>
          </div>
          <div class="movie-list-item">
            <img class="movie-list-item-img" src="Images/4.jpg" alt="" />
            <span class="movie-list-item-title">1917</span>
            <p class="movie-list-item-desc">
              During World War I, two British soldiers -- Lance Cpl. Schofield and Lance Cpl. Blake -- receive seemingly impossible orders. In a race against time, they must cross over into enemy territory to deliver a message that could potentially save 1,600 of their fellow comrades -- including Blake's own brother.
            </p>
            <a href="playpage?ref=1917">
            <button class="movie-list-item-button">Watch</button>
            </a>
          </div>
          <div class="movie-list-item">
            <img class="movie-list-item-img" src="Images/5.jpg" alt="" />
            <span class="movie-list-item-title">Avengers</span>
            <p class="movie-list-item-desc">
              When Thor's evil brother, Loki (Tom Hiddleston), gains access to the unlimited power of the energy cube called the Tesseract, Nick Fury (Samuel L. Jackson), director of S.H.I.E.L.D., initiates a superhero recruitment effort to defeat the unprecedented threat to Earth. Joining Fury's "dream team" are Iron Man (Robert Downey Jr.), Captain America (Chris Evans), the Hulk (Mark Ruffalo), Thor (Chris Hemsworth), the Black Widow (Scarlett Johansson) and Hawkeye (Jeremy Renner).
            </p>
            <a href="playpage?ref=Avengers">
            <button class="movie-list-item-button">Watch</button>
            </a>
          </div>
          <div class="movie-list-item">
            <img class="movie-list-item-img" src="Images/6.jpg" alt="" />
            <span class="movie-list-item-title">Rampage</span>
            <p class="movie-list-item-desc">
              Primatologist Davis Okoye shares an unshakable bond with George, an extraordinarily intelligent, silverback gorilla that's been in his care since birth. When a rogue genetic experiment goes wrong, it causes George, a wolf and a reptile to grow to a monstrous size. As the mutated beasts embark on a path of destruction, Okoye teams up with a discredited genetic engineer and the military to secure an antidote and prevent a global catastrophe.
            </p>
            <a href="playpage?ref=Rampage">
            <button class="movie-list-item-button">Watch</button>
            </a>
          </div>
          <div class="movie-list-item">
            <img class="movie-list-item-img" src="Images/8.jpg" alt="" />
            <span class="movie-list-item-title">Oblivion</span>
            <p class="movie-list-item-desc">
              In the year 2077, Jack Harper (Tom Cruise) works as a security repairman on an Earth left empty and devastated after a war with aliens. Jack has two weeks left before his mission ends and he joins his fellow survivors on a faraway colony. However, Jack's concept of reality comes crashing down after he rescues a beautiful stranger (Olga Kurylenko) from a downed spacecraft. The woman's arrival triggers a chain of events that culminates in Jack's nearly single-handed battle to save mankind.
            </p>
            <a href="playpage?ref=Oblivion">
            <button class="movie-list-item-button">Watch</button>
          </a>
          </div>
        </div>
        <i class="bx bxs-chevrons-right arrow"></i>
      </div>
    </section>
    <section class="latest container" id="latest">
      <div class="heading">
        <h2 class="heading-title">Latest Movies</h2>
      </div>
      <div class="movie-list-wrapper">
        <div class="movie-list">
          <div class="movie-list-item">
            <img class="movie-list-item-img" src="Images/play-background.jpg" alt="" />
            <span class="movie-list-item-title">Jumanji</span>
            <p class="movie-list-item-desc ">
              A magical board game unleashes a world of adventure on siblings Peter (Bradley Pierce) and Judy Shepherd (Kirsten Dunst). While exploring an old mansion, the youngsters find a curious, jungle-themed game called Jumanji in the attic. When they start playing, they free Alan Parrish (Robin Williams), who's been stuck in the game's inner world for decades. If they win Jumanji, the kids can free Alan for good -- but that means braving giant bugs, ill-mannered monkeys and even stampeding rhinos!


            </p>
            <a href="playpage?ref=Jumanji">
              <button class="movie-list-item-button">Watch</button>
            </a>
          </div>
          <div class="movie-list-item">
            <img class="movie-list-item-img" src="Images/2.jpeg" alt="" />
            <span class="movie-list-item-title">Star Wars</span>
            <p class="movie-list-item-desc">
              The Imperial Forces -- under orders from cruel Darth Vader (David Prowse) -- hold Princess Leia (Carrie Fisher) hostage, in their efforts to quell the rebellion against the Galactic Empire. Luke Skywalker (Mark Hamill) and Han Solo (Harrison Ford), captain of the Millennium Falcon, work together with the companionable droid duo R2-D2 (Kenny Baker) and C-3PO (Anthony Daniels) to rescue the beautiful princess, help the Rebel Alliance, and restore freedom and justice to the Galaxy.
            </p>
            <a href="playpage?ref=StarWars">
            <button class="movie-list-item-button">Watch</button>
            </a>
          </div>
          <div class="movie-list-item">
            <img class="movie-list-item-img" src="Images/3.jpg" alt="" />
            <span class="movie-list-item-title">Storm</span>
            <p class="movie-list-item-desc">
              As an experienced climber ascends Mount Washington, she turns back before she reaches the summit as a huge blizzard approaches. However, on her way down, she encounters a stranded man and takes it upon herself to get them both down the mountain before nightfall arrives and they succumb to the elements.
            </p>
            <a href="playpage?ref=Storm">
            <button class="movie-list-item-button">Watch</button>
            </a>
          </div>
          <div class="movie-list-item">
            <img class="movie-list-item-img" src="Images/4.jpg" alt="" />
            <span class="movie-list-item-title">1917</span>
            <p class="movie-list-item-desc">
              During World War I, two British soldiers -- Lance Cpl. Schofield and Lance Cpl. Blake -- receive seemingly impossible orders. In a race against time, they must cross over into enemy territory to deliver a message that could potentially save 1,600 of their fellow comrades -- including Blake's own brother.
            </p>
            <a href="playpage?ref=1917">
            <button class="movie-list-item-button">Watch</button>
            </a>
          </div>
          <div class="movie-list-item">
            <img class="movie-list-item-img" src="Images/5.jpg" alt="" />
            <span class="movie-list-item-title">Avengers</span>
            <p class="movie-list-item-desc">
              When Thor's evil brother, Loki (Tom Hiddleston), gains access to the unlimited power of the energy cube called the Tesseract, Nick Fury (Samuel L. Jackson), director of S.H.I.E.L.D., initiates a superhero recruitment effort to defeat the unprecedented threat to Earth. Joining Fury's "dream team" are Iron Man (Robert Downey Jr.), Captain America (Chris Evans), the Hulk (Mark Ruffalo), Thor (Chris Hemsworth), the Black Widow (Scarlett Johansson) and Hawkeye (Jeremy Renner).
            </p>
            <a href="playpage?ref=Avengers">
            <button class="movie-list-item-button">Watch</button>
            </a>
          </div>
          <div class="movie-list-item">
            <img class="movie-list-item-img" src="Images/6.jpg" alt="" />
            <span class="movie-list-item-title">Rampage</span>
            <p class="movie-list-item-desc">
              Primatologist Davis Okoye shares an unshakable bond with George, an extraordinarily intelligent, silverback gorilla that's been in his care since birth. When a rogue genetic experiment goes wrong, it causes George, a wolf and a reptile to grow to a monstrous size. As the mutated beasts embark on a path of destruction, Okoye teams up with a discredited genetic engineer and the military to secure an antidote and prevent a global catastrophe.
            </p>
            <a href="playpage?ref=Rampage">
            <button class="movie-list-item-button">Watch</button>
            </a>
          </div>
          <div class="movie-list-item">
            <img class="movie-list-item-img" src="Images/8.jpg" alt="" />
            <span class="movie-list-item-title">Oblivion</span>
            <p class="movie-list-item-desc">
              In the year 2077, Jack Harper (Tom Cruise) works as a security repairman on an Earth left empty and devastated after a war with aliens. Jack has two weeks left before his mission ends and he joins his fellow survivors on a faraway colony. However, Jack's concept of reality comes crashing down after he rescues a beautiful stranger (Olga Kurylenko) from a downed spacecraft. The woman's arrival triggers a chain of events that culminates in Jack's nearly single-handed battle to save mankind.
            </p>
            <a href="playpage?ref=Oblivion">
            <button class="movie-list-item-button">Watch</button>
          </a>
          </div>
        </div>
        <i class="bx bxs-chevrons-right arrow"></i>
      </div>
    <section class="home container" id="home">
      <img src="Images/home-background.png" alt="" class="home-img" />
      <div class="home-text">
        <h1 class="home-title">Hitman's Wife <br />Bodyguard</h1>
        <p>Releasing April 10th</p>
        <a href="#" class="watch-button">
          <i class="bx bxs-right-arrow"></i>
          <span>Watch the Trailer</span>
        </a>
      </div>
    </section>
    <section class="home home1">
      {{>footer}}
    </section>

    <script src="Js Files/main.js"></script>
  </body>
</html>
