<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CINEFLEX</title>
    <link rel="stylesheet" href="Css Files/style.css" />
    <link rel="shortcut icon" href="fav-icon.png" type="image/x-icon" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    {{>header}}
    <div class="play-container container">
      <img alt="" class="play-img" />
      <div class="play-text">
        <h2 class="header2"></h2>
        <div class="rating">
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star-half"></i>
        </div>
        <div class="tags">
          <span class="tag">Action</span>
          <span class="tag">Action</span>
          <span class="tag">Action</span>
        </div>
        <a href="#" class="watch-button">
          <i class="bx bxs-right-arrow"></i>
          <span>Watch the Trailer</span>
        </a>
      </div>
      <i class="bx bxs-right-arrow play-movie"></i>
      <div class="video-container">
        <div class="video-box">
          <video id="myvideo" controls></video>
          <i class="bx bx-x close-video"></i>
        </div>
      </div>
    </div>
    <div class="about-movie container">
      <h2 class="head-movie"></h2>
      <p class="movietext">
      </p>
      <h2 class="cast-movie"></h2>
      <div class="cast">
        <div class="cast-box">

        </div>
        <div class="cast-box">

        </div>
        <div class="cast-box">

        </div>
        <div class="cast-box">

        </div>
        <div class="cast-box">

        </div>
        <div class="cast-box">

        </div>
      </div>
      <div class="btn2">
      <div class="btn1">
        <a href="booking">
          <button class="movie-list-item-button1">Book Nowgtthhthyhyhy</button>
        </a>
      </div>
    </div>
    </div>

    <script src="Js Files/main2.js"></script>
    <script src="Js Files/playpage.js"></script>
    <script src="Js Files/swiper-bundle.min.js"></script>
  </body>
</html>
