<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link rel="stylesheet" href="Css Files/style.css" />
</head>
<body>
    <header>
      <div class="nav container">
        <a href="mainpage" class="logo"> CINE<span>FLEX</span> </a>
        <div class="search-box">
          <input
            type="search"
            name=""
            id="search-input"
            placeholder="Search Movie"
          />
          <i class="bx bx-search"></i>
        </div>
        <a href="#" class="user">
          <img src="Images/user.png" alt="" class="user-img" />
        </a>
        <div class="navbar">
          <a href="#home" class="nav-link nav-active">
            <i class="bx bx-home"></i>
            <span class="nav-link-title">Home</span>
          </a>
          <a href="#home" class="nav-link">
            <i class="bx bxs-hot"></i>
            <span class="nav-link-title">Latest</span>
          </a>
          <a href="#home" class="nav-link">
            <i class="bx bx-compass"></i>
            <span class="nav-link-title">Explore</span>
          </a>
          <a href="booking" class="nav-link">
            <i class="bx bx-book-content"></i>
            <span class="nav-link-title">Booking</span>
          </a>
        </div>
      </div>
    </header>
</body>
</html>